/* OPERADORES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #CCD5AE;
}

html, body, #root {
  min-height: 100vh;
}

/* DEL HEADER */
#main-header {
  background-color: #CCD5AE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 1.2rem 2.5rem;
}

#main-header .header--logo {
  border-style: none;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0.5rem;
  background-color: #CCD5AE;
}

#main-header .header--logo .NavBar--estilo {
  text-decoration: none;
}

.header--color {
  background-color: #CCD5AE;
  text-decoration: none;
  color: #6b705c;
}

.estiloCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
}

h2 {
  text-align: center;
  color: #000;
  font-size: 4rem;
}

/* ------------------------------------------- */
@media (min-width: 768px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

a {
  text-decoration: none;
}

.navbar-toggler {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.iconify--emojione {
  font-size: 3rem;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

main {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.titulo-cargando {
  margin: 0 auto;
  font-size: 4rem;
}

.container-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-btns p {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #CCD5AE;
  padding: 2px;
}

.btn-cart {
  border: none;
  padding: 5px 15px;
  font-size: 0.8rem;
}

.btn-contador {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: solid 1px #3b3b3b;
}

.btn-contador:hover {
  background-color: #3b3b3b;
  color: #fff;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-agregar {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

.btn-verMas {
  background-color: #FEC601;
}

.btn-verMas:hover {
  background-color: #3b3b3b;
}

.btn-verMas a {
  color: #3b3b3b;
  font-weight: bolder;
}

.btn-verMas:hover > a {
  color: #FEC601;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

#contenedor_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
}

.card_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.img-producto {
  height: 250px;
  width: 300px;
  margin-bottom: 30px;
}

.info_producto {
  text-align: center;
  font-size: 2rem;
}

.producto_descripcion {
  text-transform: uppercase;
  font-weight: 700;
}

.irCarrito {
  background-color: #fff;
  border: 1px solid #FEC601;
  padding: 3px 15px;
}

.irCarrito:hover {
  background-color: #3b3b3b;
  border: none;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.irCarrito a {
  color: #3b3b3b;
}

.irCarrito:hover > a {
  color: #FEC601;
  font-weight: bold;
}

.contador-carrito {
  font-size: 1.5rem;
  font-weight: bold;
}

.ir-inicio {
  text-decoration: none;
  border: solid 1px #FEC601;
  width: 40%;
  margin: 0 auto;
  padding: .8rem 1.5rem;
  color: #3b3b3b;
  font-size: 1.8rem;
}

.ir-inicio:hover {
  background-color: #3b3b3b;
  color: #FEC601;
}

.finalizar-compra {
  border: none;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding: .8rem 1.5rem;
  font-size: 1.8rem;
}

.elementos-carrito {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  gap: 2rem;
  padding: .8rem 1.5rem;
}

.elementos-carrito:nth-of-type(even) {
  background-color: #FEC601;
}

@media (min-width: 992px) {
  .elementos-carrito {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.parrafo-carrito {
  font-size: 1.8rem;
}

.parrafo-carrito span {
  font-weight: bold;
}

.icon-delete {
  font-size: 2rem;
  cursor: pointer;
}

.container-detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #CCD5AE;
  padding: 2rem;
}

footer p {
  font-size: 2rem;
  text-align: center;
}

footer p a {
  color: #000;
}

footer p a:hover {
  color: #fff;
  background-color: #3b3b3b;
  padding: .5rem 1rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  border-radius: 50px;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
}

.formulario input, textarea {
  border: none;
  border-bottom: solid 1px #3b3b3b;
  width: 80%;
  outline: none;
}

textarea {
  height: 15rem;
}

@media (min-width: 992px) {
  .formulario input, textarea {
    width: 30%;
  }
}

.vaciar {
  border: none;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: .2rem 1.5rem;
  font-size: 1.8rem;
}
/*# sourceMappingURL=app.css.map */