/* OPERADORES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #CCD5AE;
}

html, body, #root {
  min-height: 100vh;
}

#main-header {
  background-color: #CCD5AE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 1.2rem 2.5rem;
}

#main-header .header--logo {
  border-style: none;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0.5rem;
  background-color: #CCD5AE;
}

#main-header .header--logo .NavBar--estilo {
  text-decoration: none;
}

.header--color {
  background-color: #CCD5AE;
  text-decoration: none;
  color: #6b705c;
}

.estiloCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
}

h2 {
  text-align: center;
  color: #000;
  font-size: 4rem;
}

a {
  text-decoration: none;
}

.navbar-toggler {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

main {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.titulo-cargando {
  margin: 0 auto;
  font-size: 4rem;
}

.container-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-btns p {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #CCD5AE;
  padding: 2px;
  margin: 1rem;
}

.btn-cart {
  border: black;
  padding: 5px 15px;
  margin: 1rem;
  font-size: 0.8rem;
}

.btn-contador {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: solid 1px #3b3b3b;
}

.btn-contador:hover {
  background-color: #3b3b3b;
  color: #fff;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-agregar {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

.btn-verMas {
  background-color: #FEC601;
}

.btn-verMas:hover {
  background-color: #3b3b3b;
}

.btn-verMas a {
  color: #3b3b3b;
  font-weight: bolder;
}

#contenedor_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
}

.card_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.irCarrito {
  background-color: #fff;
  border: 1px solid #FEC601;
  padding: 3px 15px;
}

.irCarrito:hover {
  background-color: #3b3b3b;
  border: none;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.irCarrito a {
  color: #3b3b3b;
}

.contador-carrito {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

.elementos-carrito {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .8rem 1.5rem;
}

.elementos-carrito:nth-of-type(even) {
  background-color: #FEC601;
}

.parrafo-carrito {
  font-size: 1.8rem;
}

.parrafo-carrito span {
  font-weight: bold;
}

.container-detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #CCD5AE;
  padding: 2rem;
}

footer p {
  font-size: 2rem;
  text-align: center;
}

footer p a {
  color: #000;
}

footer p a:hover {
  color: #fff;
  background-color: #3b3b3b;
  padding: .5rem 1rem;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  border-radius: 50px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
}

.formulario input, textarea {
  border: none;
  border-bottom: solid 1px #3b3b3b;
  width: 80%;
  outline: none;
}

textarea {
  height: 15rem;
}
/*# sourceMappingURL=app.css.map */